.grid-m{
	display: grid;
	grid-template-columns: 1fr;
}

.startup,.create .left,.choose .right,.partners .content, .card .text{
	grid-template-rows: auto auto auto auto;
    grid-row-gap: 2rem;
}

.startup .buttons,.CTA,.products,.partners,.tools,
.testimonials,.footer,.content .services,
.tools .card,.testimonials .content,.info .profile,
.footer .bottom, .top .about,.top .contact,
.top .form-area, .form-area form{
	grid-template-rows: auto auto;
}

.startup .buttons{
    grid-row-gap: 1rem;
}

.available{
	grid-template-rows: repeat(5,auto);
}

.CTA .content,.choose .head,.choose .content,
.services .text,.tools .content, 
.content .advantages,.testimonials .head,
.testimonials .content .info,.footer .top,
.contact .info{
	grid-template-rows: auto auto auto;
    grid-row-gap: 2rem;
}

.bottom .social-links{
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
}


@media screen and (min-width: 500px){
	.grid-t{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
	}

	.partners .content{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	.tools{
		grid-template-rows: auto;
	}

	.footer .bottom{
		grid-template-rows: auto;
	}

}

@media screen and (min-width: 992px){
	.grid-d{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

	.CTA,.create,.choose{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.create .left{
		grid-column: 1;
	}

	.choose .right{
		grid-column: 2;
	}

	.testimonials .content{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

}


/*styling*/

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
}

.p-all{
	padding: 8rem 1rem;
}

.img{
	width: 100%;
	height: auto;
}

.bg-img{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Images/intro-bg.jpg");
	background-size: cover;
	background-position: center; 
}

.bg-purple {
    background: #9000F0;
}

.bg-gray{
	background: #e7e7e7;
}

.color-purple{
    color: #9000F0;
}

.color-grey{
	color: #333333;
}

.color-light{
    color: #888;
}

.color-white{
	color: #fff;
}

.font-36{
	font-size: 36px;
}

.font-26{
	font-size: 26px;
}

.font-24{
	font-size: 24px;
}

.font-20{
	font-size: 20px;
}

.font-18{
	font-size: 18px;
}

.font-16{
	font-size: 16px;
}

.font-15{
	font-size: 15px;
}

.font-14{
	font-size: 14px;
}

.font-bold{
	font-weight: bold;
}

.btn{
	cursor: pointer;
    background: #9000F0;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 30px;
    font-weight: bold;
    outline: none;
    border: none;
    color: #fff;
}

.startup .heading{
	font-size: 48px;
	width: 50%;
    margin: auto;
}

.startup .buttons .btn1{
	background: transparent;
    border: 3px solid #fff;
}

.CTA{
	text-align: left;
}









